<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<div class="form-block">
    <form  action="#" th:action="@{/user-update/*{id}}" th:object="${user}" method="post">
        <label class="form-label" for="id">ID</label>
        <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
        <br/>
        <label class="form-label" for="address">Last name</label>
        <input class="form-control" type="text" th:field="*{address}" id="address" placeholder="Address">
        <br/>
        <input class="btn btn-primary" type="submit" value="Записать изменения">
    </form>
</div>
</body>
</html>